<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templateEmna/index.xhtml">

	<ui:define name="pageTitle">
				Statistic PAGE
			</ui:define>
	<ui:define name="pageContent">
	<center>
		<div>
	
			<h:form>

			<style type="text/css">
    .left {
        text-align: left;
    }
     
    .right div {
        float: right;
    }
</style>
 
<h:panelGrid columns="2" columnClasses="left,right" style="width:100%">
   
    <p:chart type="bar" model="#{chartView.animatedModel2}" style="width:400px;" />
</h:panelGrid>
			</h:form>
		</div>
</center>
	</ui:define>
</ui:composition>