<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions">

<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>CRM Solution</title>

	<!-- Bootstrap Core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

	<!-- MetisMenu CSS -->
	<link href="vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />

	<!-- Custom CSS -->
	<link href="dist/css/sb-admin-2.css" rel="stylesheet" />

	<!-- Morris Charts CSS -->
	<link href="vendor/morrisjs/morris.css" rel="stylesheet" />

	<!-- Custom Fonts -->
	<link href="vendor/font-awesome/css/font-awesome.min.css"
		rel="stylesheet" type="text/css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</h:head>

<h:body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<img class="img" src="../resources/img/logo.png" />
				
			</div>

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						
						
						<li><a href=""><i class="fa fa-bank"></i>
								Sales and Marketing<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								
								<li><a href="Events.jsf"><i class="fa fa-calendar-times-o"></i> Events Management</a></li>
								

							</ul></li>
						
						
						<li><a href=""><i class="fa fa-list"></i>
								Task Management<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a href="TaskManagment.jsf"> <i class="fa fa-list-alt"></i> Task Management</a></li>
								<li><a href="TaskPlanning.jsf"><i class="fa fa-calendar-minus-o"></i> Task
										Planning</a></li>
								<li><a href="Static.jsf"><i class="fa fa-pie-chart"></i> Task
										Statistics</a></li>
							</ul></li>
							
							
							<li><a href=""><i class="fa fa-bar-chart"></i>
								Statistic<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
<li><a href="date.jsf"><i class="fa fa-pie-chart"></i> Events
										Statistics</a></li>
							</ul></li>
							
							
							
							
							
						<li><a href=""><i class="fa fa-dollar"></i>
								Financial Management<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a href="MarketRealTime.jsf"> <i class="fa fa-balance-scale"></i> Market State</a></li>
								
							</ul></li>
							
					</ul>
				</div>
				<!-- /.sidebar-collapse -->
			</div>
			<!-- /.navbar-static-side -->
		</nav>
		<div id="page-wrapper">
			<div id="content">
				<ui:insert name="pageContent" />
			</div>
		</div>


		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->

	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="vendor/metisMenu/metisMenu.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<script src="vendor/raphael/raphael.min.js"></script>
	<script src="vendor/morrisjs/morris.min.js"></script>
	<script src="data/morris-data.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="dist/js/sb-admin-2.js"></script>

</h:body>

</html>
