<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/templateEmna/index.xhtml">

	<ui:define name="pageTitle">
				statistics PAGE
			</ui:define>
	<ui:define name="pageContent">

		<div>
			<br />
			<h2>statistics</h2>
			<br /> <br />
			
			<h:form>
			
			
			<p:chart type="pie" model="#{staticsBean.pieModel1}" style="width:400px;height:300px" />
			
			</h:form>
			
		</div>

	</ui:define>
</ui:composition>