<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templateEmna/index.xhtml">

	<ui:define name="pageTitle">
				Manufacturing PAGE
			</ui:define>
	<ui:define name="pageContent">

		<div>
			<br />
			<h2>Task</h2>
			<br /> <br />
			<h:form>
				<h:dataTable class="table table-borderless"
					value="#{taskBean.tasks}" var="e" border="2"
					rendered="#{not taskBean.showForm}">
					<h:column id="c1">
						<f:facet name="header">
							<center><p:outputLabel value="Title" /></center>
						</f:facet>
						<center><p:outputLabel value="#{e.title}" /></center>
					</h:column>
					<h:column id="c2">
						<f:facet name="header">
							<center><p:outputLabel value="Description" /></center>
						</f:facet>
						<center><p:outputLabel value="#{e.description_task}" /></center>
					</h:column>
					<h:column id="c3">
						<f:facet name="header">
							<center><p:outputLabel value="End Date" /></center>
						</f:facet>
						<center><p:outputLabel value="#{e.end_date_task}" /></center>
					</h:column>
					<h:column id="c4">
						<f:facet name="header">
							<center><p:outputLabel value="Status" /></center>
						</f:facet>
						<center><p:outputLabel value="#{e.status_task}" /></center>
					</h:column>
					<h:column id="c5">
						<f:facet name="header">
							<center><p:outputLabel value="Priority" /></center>
						</f:facet>
						<center><p:outputLabel value="#{e.priority}" /></center>
					</h:column>
					<h:column id="c6">
						<f:facet name="header">
							<center><p:outputLabel value="Employee" /></center>
						</f:facet>
						<center><p:outputLabel value="#{e.user.user_Name}" /></center>
					</h:column>
					
			
					<h:column id="c9">
						<f:facet name="header">
							<center><p:outputLabel value="Action" /></center>
						</f:facet>
						<center>
							<h:commandButton styleClass="btn btn-danger"
								action="#{taskBean.doDeleteTask()}"
								value="delete">
								<f:setPropertyActionListener value="#{e}"
									target="#{taskBean.task}"></f:setPropertyActionListener>
							</h:commandButton>
						</center>
					</h:column>
				</h:dataTable>
				<br></br>
				<br></br>
				<br></br>
			
			</h:form>
		</div>

	</ui:define>
</ui:composition>