<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/templateEmna/index.xhtml">

	<ui:define name="pageTitle">
				Statistic PAGE
			</ui:define>
	<ui:define name="pageContent">
		<script type="text/javascript">
    function handleDrop(event, ui) {
        var droppedP = ui.draggable;
        droppedP.fadeOut('fast');
    }
</script>
		<div>
			<h:form>

				<p:tabView>
					<p:tab title="To Do">
						<h:panelGrid>
							<p:fieldset legend="To Do">
								<p:dataGrid id="todo" var="p"
									value="#{taskPlanningBean.todo}" columns="3">
									<p:panel id="pnl" header="#{p.title}"
										style="text-align:center">
										<h:panelGrid columns="1" style="width:100%">
											
											<h:outputText  value="End Date: #{p.end_date_task}" />
											<h:outputText value="Description: #{p.description_task}" />
											<h:outputText value="Employee: #{p.user.user_Name}" />
											<h:outputText value="Priority: #{p.priority}" />
											<p:commandButton oncomplete="PF('TaskDialog').show()"
												icon="ui-icon-search">
												<f:setPropertyActionListener value="#{p}"
													target="#{p}" />
											</p:commandButton>
										</h:panelGrid>
									</p:panel>

									<p:draggable for="pnl" revert="true"
										handle=".ui-panel-titlebar" stack=".ui-panel" />
								</p:dataGrid>
							</p:fieldset>

							<p:fieldset legend="Selected Task"
								style="margin-top:20px">
								<p:outputPanel id="dropAreaToDo">
									<h:outputText value="Drop Production Here"
										rendered="#{empty taskPlanningBean.task}"
										style="font-size:24px;" />
									<h:dataTable class="table table-borderless"
										value="#{taskPlanningBean.droppedPT}" var="e" border="2"
										rendered="#{not taskBean.showForm}">
										
										<h:column id="c2">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Description" />
												</center>
											</f:facet>
											<center>
												<p:outputLabel value="#{e.description_task}" />
											</center>
										</h:column>
										<h:column id="c3">
											<f:facet name="header">
												<center>
													<p:outputLabel value="End Date" />
												</center>
											</f:facet>
											<center>
												<p:outputLabel value="#{e.end_date_task}" />
											</center>
										</h:column>
										<h:column id="c4">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Task Status" />
												</center>
											</f:facet>
											<center>
												<p:outputLabel value="#{e.status_task}" />
											</center>
										</h:column>
										
										<h:column id="c6">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Employee" />
												</center>
											</f:facet>
											<center>
												<p:outputLabel value="#{e.user.user_Name}" />
											</center>
										</h:column>
										
										<h:column id="c8">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Action" />
												</center>
											</f:facet>
											<center>
												<h:commandButton styleClass="btn btn-warning"
													action="#{taskPlanningBean.doUpdateDoing()}"
													value="=> DOING">
													<f:setPropertyActionListener value="#{e}"
														target="#{taskPlanningBean.task}"></f:setPropertyActionListener>
												</h:commandButton>
											</center>
										</h:column>
										<h:column id="c9">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Action" />
												</center>
											</f:facet>
											<center>
												<h:commandButton styleClass="btn btn-danger"
													action="#{taskBean.doDeleteManufacturing()}"
													value="delete">
													<f:setPropertyActionListener value="#{e}"
														target="#{taskBean.task}"></f:setPropertyActionListener>
												</h:commandButton>
											</center>
										</h:column>
									</h:dataTable>
								</p:outputPanel>
							</p:fieldset>

						</h:panelGrid>
						<p:droppable tolerance="touch"
							activeStyleClass="ui-state-highlight" datasource="todo"
							onDrop="handleDrop">
							<p:ajax listener="#{taskPlanningBean.onTodoDrop}"
								update="dropAreaToDo todo" />
						</p:droppable>
					</p:tab>
					<p:tab title="Doing">
						<h:panelGrid>
							<p:fieldset legend="Doing">
								<p:dataGrid id="doing" var="p"
									value="#{taskPlanningBean.doing}" columns="3">
									<p:panel id="pnl" header="#{p.title}"
										style="text-align:center">
										
										<h:panelGrid columns="1" style="width:100%">
											
											<h:outputText value="End Date: #{p.end_date_task}" />
											
											<h:outputText value="Description: #{p.description_task}" />
											<h:outputText value="Employee: #{p.user.user_Name}" />
											<h:outputText value="Priority: #{p.priority}" />
											<p:commandButton oncomplete="PF('TaskDialog').show()"
												icon="ui-icon-search">
												<f:setPropertyActionListener value="#{p}"
													target="#{p.title}" />
											</p:commandButton>
										</h:panelGrid>
									</p:panel>

									<p:draggable for="pnl" revert="true"
										handle=".ui-panel-titlebar" stack=".ui-panel" />
								</p:dataGrid>
							</p:fieldset>
							<p:fieldset legend="Selected Task"
								style="margin-top:20px">
								<p:outputPanel id="dropAreaDoing">
									<h:outputText value="Drop Production Here"
										rendered="#{empty taskPlanningBean.task}"
										style="font-size:24px;" />
									<h:dataTable class="table table-borderless"
										value="#{taskPlanningBean.droppedPD}" var="e" border="2"
										rendered="#{not taskBean.showForm}">
										
										<h:column id="c2">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Description" />
												</center>
											</f:facet>
											<center>
												<p:outputLabel value="#{e.description_task}" />
											</center>
										</h:column>
										<h:column id="c3">
											<f:facet name="header">
												<center>
													<p:outputLabel value="End Date" />
												</center>
											</f:facet>
											<center>
												<p:outputLabel value="#{e.end_date_task}" />
											</center>
										</h:column>
										<h:column id="c4">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Task Status" />
												</center>
											</f:facet>
											<center>
												<p:outputLabel value="#{e.status_task}" />
											</center>
										</h:column>
										
										<h:column id="c6">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Employee" />
												</center>
											</f:facet>
											<center>
												<p:outputLabel value="#{e.user}" />
											</center>
										</h:column>
									
										<h:column id="c8">
											<f:facet name="header">
												<center>
													<p:outputLabel value="Action" />
												</center>
											</f:facet>
											<center>
												<h:commandButton class="btn btn-success"
													action="#{taskPlanningBean.doUpdateDone()}"
													value="=> DONE">
													<f:setPropertyActionListener value="#{e}"
														target="#{taskPlanningBean.task}"></f:setPropertyActionListener>
												</h:commandButton>
											</center>
										</h:column>
									</h:dataTable>
								</p:outputPanel>
							</p:fieldset>
						</h:panelGrid>
						<p:droppable tolerance="touch"
							activeStyleClass="ui-state-highlight" datasource="doing"
							onDrop="handleDrop">
							<p:ajax listener="#{taskPlanningBean.onDoingDrop}"
								update="dropAreaDoing doing" />
						</p:droppable>
					</p:tab>
					<p:tab title="Done">
						<h:panelGrid>
							<p:fieldset legend="Done">
								<p:dataGrid id="done" var="p"
									value="#{taskPlanningBean.done}" columns="3">
									<p:panel id="pnl" header="#{p.title}"
										style="text-align:center">
										<h:panelGrid var="#{p}"
											value="#{taskPlanningBean.task}" columns="1"
											style="width:100%">
											
											<h:outputText value="End Date: #{p.end_date_task}" />
											
											<h:outputText value="Description: #{p.description_task}" />
											<h:outputText value="Employee: #{p.user.user_Name}" />
											<h:outputText value="Priority: #{p.priority}" />
											<p:commandButton oncomplete="PF('TaskDialog').show()"
												icon="ui-icon-search">
												<f:setPropertyActionListener value="#{p}"
													target="#{p.title}" />
											</p:commandButton>
										</h:panelGrid>
									</p:panel>
								</p:dataGrid>
							</p:fieldset>
						</h:panelGrid>
					</p:tab>
				</p:tabView>

				<p:dialog header="Task Detail" widgetVar="TaskDialog"
					resizable="false" draggable="false" showEffect="fade"
					hideEffect="fade" modal="true">

					<p:outputPanel id="display">
						<h:panelGrid columns="2" cellpadding="5"
							rendered="#{not empty dndCarsView.selectedCar}">

							
							<h:outputText value="#{p.id_task}"
								style="font-weight:bold" />

							<h:outputText
								value="#{p.description_task}"
								style="font-weight:bold" />

							<h:outputText
								value="#{p.user.user_Name}"
								style="font-weight:bold" />
							<h:outputText
								value="#{p.end_date_task}"
								style="font-weight:bold" />
						</h:panelGrid>
					</p:outputPanel>
				</p:dialog>

			</h:form>
				
			
		</div>


	</ui:define>
</ui:composition>