<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<ui:include src="/template/Header2.xhtml" />

</h:head>

<h:body>

	<section id="intro" class="section-intro">
		<div class="logo-menu">
			<div class="search-container">
				<div class="container text-center">
					<div class="row">
						<div class="col-md-12">
						
							<h1 style="line-height: 60px;">RH Director Space</h1>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>   


	<!-- Find Job Section Start -->

	<section class="find-job section">
		<div class="container">

			<ui:insert name="okok"></ui:insert>
		
			
		</div>
		<div class="container">

			
			<ui:insert name="oook"></ui:insert>
			
		</div>
		<div class="container">

			
			<ui:insert name="oooko"></ui:insert>
			
		</div>
		<div class="container">

			
			<ui:insert name="oookoo"></ui:insert>
			
		</div>
	</section>
</h:body>

<footer>
	<ui:insert name="footer">
		<ui:include src="/template/footer2.xhtml" />
	</ui:insert>
</footer>
  <script type="text/javascript" src="../assets/js/jquery-min.js"></script>      
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="../assets/js/material.min.js"></script>
    <script type="text/javascript" src="../assets/js/material-kit.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.parallax.js"></script>
    <script type="text/javascript" src="../assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.slicknav.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="../assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="../assets/js/jasny-bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="../assets/js/form-validator.min.js"></script>
    <script type="text/javascript" src="../assets/js/contact-form-script.js"></script>    
</html>