<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/index2.xhtml">
		<ui:define name="oook">
		<link rel="stylesheet"
			href="#{request.contextPath}/assets/css/presets.css" type="text/css" />

<h:head></h:head> 
<h:body>
<h:dataTable value="#{congeBean.conges}" var="conge" border="1">
		<h:column>
			<f:facet name="header">
				<h:outputText value="CIN" />
			</f:facet>
			<h:outputText value="#{conge.cin}"></h:outputText>
		</h:column>
		
	</h:dataTable>
	</h:body>
		</ui:define>

</ui:composition>
