<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/template/index3.xhtml">
	<ui:define name="oookooo">
		<h:head>
			<title>Chat test!</title>
		</h:head>
		<script type="text/javascript">
       setInterval("nextMessage()", 200); //update the chart every 200 ms               
         
        function updateMessages(xhr, status, args) {
            if(!args.ok) return;
            $('#chat').append('<div class="msg">[' +args.dateSent+ '] <strong>'+args.user+'</strong>: '+args.text+'</div>');
        }
         
    </script>
		<h:body>
			<h:form prependId="false">
				<h:panelGrid columns="2">
                Name: <p:inputText value="#{messageBean.message.user}" />
                Text: <p:inputText
						value="#{messageBean.message.message}" />
					<p:commandButton type="reset" value="Clear" />
					<p:commandButton value="Send!"
						actionListener="#{messageBean.sendMessage}" />
				</h:panelGrid>

				<p:remoteCommand name="nextMessage"
					actionListener="#{messageBean.firstUnreadMessage}"
					oncomplete="updateMessages(xhr, status, args);" />
			</h:form>
			<hr />
			<h3>Live chat</h3>
			<div id="chat"></div>
		</h:body>

	</ui:define>
</ui:composition>