<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" template="template.xhtml">
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<ui:define name="content">

		<section class="bg0 p-t-5 p-b-140">
			<div class="container">
				<div class="p-b-5"></div>
			</div>
		</section>
		<style type="text/css">
.label {
	width: 20%;
	padding: 4px;
}

.value {
	width: 80%;
	padding: 4px;
}

.grid {
	width: 100%;
}

.error {
	color: red;
}

.outputLabel {
	font-weight: bold;
}

.grid {
	width: 33%;
	padding: 4px;
}
</style>


		<h:form>

			<p:growl id="growl" sticky="true" showDetail="true" />

			<p:wizard> flowListener="#{propositionBean.onFlowProcess()}">
        <p:tab id="personal" title="Proposition">
					<p:panel header="What do you suggest">
						<p:messages />
						<h:panelGrid columns="2" columnClasses="label, value">
							<h:outputText value="Description" />
							<p:inputText value="#{propositionBean.Description}" required="true"
								label="Description" />

						</h:panelGrid>
						<p:commandButton value="Submit" action="#{propositionBean.addComment()}"
							update="growl" process="@this" />
					</p:panel>
				</p:tab>
				
			
			</p:wizard>

		</h:form>
		<section class="bg0 p-t-5 p-b-140">
			<div class="container">
				<div class="p-b-5"></div>
			</div>
		</section>
	</ui:define>

</ui:composition>