<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

				
	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
	
	    <div class="container">
	
	        <div class="row">
	
	            <div class="col-sm-6 col-lg-3 p-b-50">
	
	                <h4 class="stext-301 cl0 p-b-30">
							Categories
						</h4>
	
	                <ul>
	
	                    <li class="p-b-10">
	                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Women
								</a>
	                    </li>
	
	                    <li class="p-b-10">
	                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Men
								</a>
	                    </li>
	
	                    <li class="p-b-10">
	                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Shoes
								</a>
	                    </li>
	
	                    <li class="p-b-10">
	                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Watches
								</a>
	                    </li>
	                </ul>
	            </div>
	
	            <div class="col-sm-6 col-lg-3 p-b-50">
	
	                <h4 class="stext-301 cl0 p-b-30">
							Help
						</h4>
	
	                <ul>
	
	                    <li class="p-b-10">
	                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Track Order
								</a>
	                    </li>
	
	                    <li class="p-b-10">
	                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Returns 
								</a>
	                    </li>
	
	                    <li class="p-b-10">
	                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									Shipping
								</a>
	                    </li>
	
	                    <li class="p-b-10">
	                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
									FAQs
								</a>
	                    </li>
	                </ul>
	            </div>
	
	            <div class="col-sm-6 col-lg-3 p-b-50">
	
	                <h4 class="stext-301 cl0 p-b-30">
							GET IN TOUCH
						</h4>
	
	                <p class="stext-107 cl7 size-201">
	                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
	                </p>
	
	                <div class="p-t-27">
	                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
	                        <i class="fa fa-facebook" />
	                    </a>
	                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
	                        <i class="fa fa-instagram" />
	                    </a>
	                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
	                        <i class="fa fa-pinterest-p" />
	                    </a>
	                </div>
	            </div>
	
	            <div class="col-sm-6 col-lg-3 p-b-50">
	
	                <h4 class="stext-301 cl0 p-b-30">
							Newsletter
						</h4>
	                <form>
	
	                    <div class="wrap-input1 w-full p-b-4">
	                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com" />
	
	                        <div class="focus-input1 trans-04" />
	                    </div>
	
	                    <div class="p-t-18">
	                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
	                            Subscribe
	                        </button>
	                    </div>
	                </form>
	            </div>
	        </div>
	
	        <div class="p-t-40">
	
	            <div class="flex-c-m flex-w p-b-18">
	                <a href="#" class="m-all-1">
	                    <img src="images/icons/icon-pay-01.png" alt="ICON-PAY" />
	                </a>
	                <a href="#" class="m-all-1">
	                    <img src="images/icons/icon-pay-02.png" alt="ICON-PAY" />
	                </a>
	                <a href="#" class="m-all-1">
	                    <img src="images/icons/icon-pay-03.png" alt="ICON-PAY" />
	                </a>
	                <a href="#" class="m-all-1">
	                    <img src="images/icons/icon-pay-04.png" alt="ICON-PAY" />
	                </a>
	                <a href="#" class="m-all-1">
	                    <img src="images/icons/icon-pay-05.png" alt="ICON-PAY" />
	                </a>
	            </div>
	
	            <p class="stext-107 cl6 txt-center">
	                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	                Copyright ©
	                <script>
	                    document.write(new Date().getFullYear());
	                </script>2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true" /> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
	                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
	            </p>
	        </div>
	    </div>
	</footer>

</ui:composition>