.parent{
	-fx-background-color : white;
}

.sidebar{
	-fx-background-color : #6747CD  ;
	
}

.sidebar{
	-fx-background-color : #6747CD  ;
	
}
.forgetBtn{
-fx-text-fill:#a3a3a3;
}

.forgetBtn:hover{
-fx-text-fill:#6747CD;
}

.loginBtn{
	-fx-background-color : #6747CD;
	-fx-background-radius : 10px;
	-fx-text-fill:#FFF;
	
}

.loginBtn:hover{
	-fx-background-color : transparent;
	-fx-background-radius : 10px;
	-fx-text-fill:#6747CD;
	-fx-border-color:#6747CD;
	-fx-border-width:1px;
	-fx-border-style:solid;
	-fx-border-radius : 10px;
	
}

.closeBtn{
	-fx-fill : #545454;
}

.closeBtn:hover{
	-fx-fill : #ff6666;
}

.backBtn{
	-fx-fill : #545454;
}

.backBtn:hover{
	-fx-fill : #6747CD;
}
.parent1{
    -fx-background-color: #fff;
}
.sidebar1{   
    -fx-background-color: #333645;   
}
.btns1{
    -fx-background-color: transparent;
}
.btns1:hover{
    -fx-background-color: #202332;
}
.box1{
    -fx-border-color: #7C8184;
    -fx-border-width: 1px 0px 0px 0px;
    
}